.group_permissions_table table td span {
    cursor: pointer;
}

.opacity02 {
    opacity: .2 !important
}

.width10 {
    width: 10px !important;
    text-align: center;
}

.group_permissions_table .panel-title a {
    padding: 0 !important;
    display: inline;
    text-decoration: underline;
}